
<div class="container">
    
    <h3>Add Prescription</h3>
    <form (ngSubmit) = "onSubmit()">
       
        <div class="form-group">
            <label> ID Doctor </label>
            <input type="number" class="form-control" [(ngModel)]="pres.id_d" id="idd" name="idd">
        </div> <div class="form-group">
            <label> ID Patient </label>
            <input type="number" class="form-control" [(ngModel)]="pres.id_p" id="idp" name="idp">
        </div>
       

        <div class="form-group">
            <label> Medicines </label>
            <textarea type="text" class="form-control" [(ngModel)]="pres.text" id="stock" name="text" cols="50" rows="10"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    </div>
